doctype html
html
  head
    title user input
    style.
      /* Custom CSS for styling */
      body {
        font-family: 'Arial', sans-serif;
        background-image: url('https://images.app.goo.gl/57N14xCeycYq7NkK6'); 
        background-size: cover; 
        background-position: center center; 
        background-attachment: fixed; 
        color: #fff; 
      }
      .container {
        border-radius: 8px;
        padding: 20px;
      }
      .text-center {
        color: #ff0062;
        margin-bottom: 20px;
        margin-left: 25rem;
        font-size: 5rem;
      }
      .points {
        background-color: #28a745;
        color: #fff;
        text-align: center;
        padding: 40px 16px;
        border-radius: 60px;
        text-decoration: none;
        font-weight: bold;
        font-size: 2rem;
      }
      .delete-btn {
        background-color: red; /* Red background */
        color: white; /* White text */
        font-size: 1.5rem;
        padding: 10px 20px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        font-weight: bold;
        margin-top: 20px;
      }
      .delete-btn:hover {
        background-color: darkred; /* Darker red on hover */
      }
  body
    .container.mt-4
      h1.text-center Customer Id: #{userid}, Customer Name: #{cusName}
      p.points The customer is having #{points} points
      p.points Update Loyalty-points for this customer
      form(action='/modify-points/'+ userid+`?${cusName=cusName}`, method='POST')
        input(type='hidden' name='new-points' value='#{points}')
        textarea(name='new_points' rows=6 cols=50)
        div 
          input(type='submit' value='Submit')
      // Red Delete button
      form(action='/delete-user/'+userid, method='POST')
        button(type='submit', class='delete-btn') Delete User

    // Show success or failure popup
    if successMessage
      script.
        alert("#{successMessage}")
    else if errorMessage
      script.
        alert("#{errorMessage}")
